
.box{
  text-align: center;
}
.btn{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border:1px solid #CCCCCC;
  background-color: #76ffaa;
  padding:0 10px;
  margin-right: 50px;
  &:hover{
    background-color: #eee;
  }
}
a{
  text-decoration: none;
}
img{
  max-width:100%;
}
